@charset "URF-8";

body, html {
    height: 98vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
main {
    height: 98vh;
    position: relative;
}
section#tel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}
iframe#home {
    position: relative;
    top: 80px;
    left:24px;
    width: 264px;
    height: 470px;
}